<div class="container">
        <div class="about-content">
            <h3>{{ fullName }}</h3>
            <img src="{{ image }}">
            <div class="info">
                <h2> HAKKIMDA </h2>
                <p>{{ aboutText }}</p>
                <div class="infolist">
                    <h3> Gerçekleştirdiğim Projeler </h3>
                <p> {{aboutTextlist}}</p></div>
                <div class="developer">
                    <h3> Uzmanlaştığım Alanlar </h3>
                    <p class="icon">{{ developer }}</p>
                </div>
            </div>
        </div>
    </div>
