<div class="portfolio">
    <div class="port-main"><h2> Gerçekleştirilen Projeler</h2></div>
    
    <div class="project">
        <ul class="project">
            <li><a (click)="flappy()"> Flappy Bird (Unity3d)</a></li>
            <li><a (click)="roll()">Roll a Ball (Unity 3d)</a></li>
            <li><a (click)="traffic()"> Traffic Racer (Unity 3d)</a></li>
            <li><a (click)="pokey()">Pokey Ball Clone (Unity 3d)</a></li>
            <li><a (click)="ball()">BallControl (Unity 3d)</a></li>
            <li><a (click)="collect()">Collect Cubes (Unity 3d)</a></li>
            <li><a (click)="balon()"> Balon Patlatma (Unity 3d)</a></li>
            <li><a (click)="klinik()"> Klinik Takip Sistemi</a></li>
        </ul>
    </div>

</div>