<div class="container">
    <div class="home-page">
        <div class="font-developer">
            <a> Developer </a>
        </div>
        <div class="listlink">
            <ul class="listlink">
                <li> <a (click)="goToAbout()"> About </a></li>
                <li> <a (click)="goToPortfolio()"> Portfolio </a></li>
                <li> <a (click)="goToService()"> Service </a></li>
                <li> <a (click)="goToContact()"> Contact </a></li>
            </ul>
        </div>
    </div>
    <div class="imagefont">
        <a> TALHA ŞEREF ALATAŞ</a>
        <div class="imagelogo"></div>
    </div>
</div>
<div class="sociallogo">
    <a href="https://www.linkedin.com/in/talhaalatas/"><img src="..\..\assets\resim\linkedin.png"
            width="25%" height="25%"></a>
        <a href="github.com/talha-al"> <img src="..\..\assets\resim\github.png" width="15%"
                height="15%"></a>
        <a href=""><img src="..\..\assets\resim\insta.png"  width="20%" height="20%"></a>
    
</div>